{
        "bot_prefix" : "!",
        "bot_passes" : 1,
        "bot_nickname" : "WorldAutomation.Net",
	"bot_admin_id" : "196825309692035072",
	"bot_token" : "",
	"bot_web_port" : 5000,
	"bot_web_title" : "WorldAutomation.Net",
	"bot_web_favicon" : "",
	"bot_logo_long" : "",
	"bot_logo_square" : "",
	"bot_icon_log" : "",
	"bot_icon_inet" : "",
	"bot_icon_about" : "",
	"bot_icon_help" : "",
	"bot_icon_ticket" : "",
	"bot_icon_heart" : "",
	"discord_server_id" : "377465172765179918",
	"discord_category_id_support" : "518642880525631498",
	"discord_channel_id_log" : "462125385442656266",
	"discord_channel_id_welcome" : "377465173361033218",
	"discord_auto_role_name" : "Users",
	"discord_server_support_role_id_one" : "381632817932664834",
	"discord_server_support_role_id_two" : "380785567044206593",
	"discord_bot_name" : "WorldAutomation.Net",
	"discord_channel_id_radio" : "402463036482256896",
	"mysql_host" : "worldautomation.net",
	"mysql_user" : "worldauto",
	"mysql_pass" : "w0rld@ut09999",
	"mysql_database" : "mainSite",
	"info_website" : "WorldAutomation.Net",
	"info_copyright" : "©2018 All Rights Reserved",
	"api_youtube_data" : ""
}
